<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Do Codim</h1>
    <a type="button" class="btn btn-lg btn-default" href="https://github.com/login/oauth/authorize?client_id=<%= GH_CLIENT_ID %>&scope=user:email"><span class="glyphicon glyphicon-flash"></span> Login!</a>
  </div>
</div>


</body>
</html>
